/* Defaults
   ========================================================================== */

body,
html {

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    margin: 0;
    max-width: none;
    width: 100%;
  }

}

// Font defaults
html {
  box-sizing: border-box;
  color: $color-font-body;
  font-family: $font-body;
  font-size: #{$base + "px"};
  font-size: #{$base-font-size + "%"};
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    font-size: #{$base-desktop + "px"};
    font-size: #{$base-font-size-desktop / 100 + "rem"};
  }

}

// Line-height & margin reset
* {
  @include line-height(1);
  @include margin(0, 0, 1);

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import "../mixins/line-height";
    @import "../mixins/margin";

    @include line-height(1);
    @include margin-bottom(1);
    margin-left: auto;
    margin-right: auto;
    max-width: #{$max-width * $base-desktop + "px"};
    max-width: #{$max-width + "rem"};
  }

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
