@at-root {
/* Defaults
   ========================================================================== */
}

& {
  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

// Line-height & margin reset
* {
  @include line-height(1);
  @include margin(0, 0, 1);

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/line-height';
    @import '../mixins/margin';

    @include line-height(1);
    @include margin-bottom(1);
    max-width: #{$max-width * $base-desktop + 'px'};
    @if $use-rem { max-width: #{$max-width + 'rem'}; }
    margin-left: auto;
    margin-right: auto;
  }

}

// Font defaults
& {
  @include font-size(1);
  font-family: $font-body;
  color: $color-font-body;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
