/* Links
   ========================================================================== */

$color-link-normal: $color-font-body;
$color-link-hover: $color-font-body;
$color-link-active: #f00;
$color-link-visited: $color-font-light;

a {
  background: transparent;
  color: $color-link-normal;
  transition: all .3s;

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:visited {
    color: $color-link-visited;

    &:hover {
      color: $color-link-hover;
    }
  }

  &:active {
    color: $color-link-active;
  }
}
