// Remove border when inside `a` element in IE 8/9/10.
img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

// Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {
  overflow: hidden;
}
