@charset "UTF-8";
/*
Gutenberg: Web Typography Starter Kit
URL ........... TBD
Version ....... 0.1
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... TBD
*/
/*! Gutenberg reset — adapted from Normalize */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite {
  display: block;
}

body,
article,
section,
footer,
header,
div,
input,
nav,
article ol,
article ul,
blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Images
   ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

/* Configuration
   ========================================================================== */
/* TODO:
 - solve the decimals problem
 - responsive grid (Chrome only)
 - add license URL to main file
 - style file for micro typography customization
 - imgFixHeight break free from jQuery
 */
/* Calculations
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Defaults
   ========================================================================== */
html {
  font-size: 16px;
  font-size: 100%;
  font-family: "Merriweather", Georgia, serif;
  color: #222222;
}

* {
  line-height: 1.625;
  margin: 0 0 26px;
  margin: 0 0 1.625rem;
}

/* Headings
   ========================================================================== */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 104px;
  margin-top: 6.5rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem;
}

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem;
}

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

/* Links
   ========================================================================== */
a {
  color: #222222;
}
a:visited {
  color: #888;
}
a:active {
  color: red;
}

/* Figures & other elements
   ========================================================================== */
figcaption {
  color: #888;
  font-style: italic;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 26px;
  line-height: 1.625rem;
  margin-bottom: 0;
}

blockquote {
  padding-left: 1.4375rem;
  font-style: italic;
}

cite {
  font-style: normal;
}

ul li, ol li {
  margin-bottom: 0;
}

hr {
  margin: 52px auto;
  margin: 3.25rem auto;
  width: 50%;
  display: block;
  background-color: #888;
  height: 1px;
  border: 0;
}

/* Grid
   ========================================================================== */
.grid, .grid-double {
  background-image: linear-gradient(#d7e4f4 0%, transparent 5%, transparent 100%);
  background-repeat: repeat;
  background-position: top left;
  box-shadow: rgba(215, 228, 244, 0.3) 1px 0px 0px, rgba(215, 228, 244, 0.3) -1px 0px 0px;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
}

.grid-double {
  background-image: linear-gradient(#d7e4f4 0%, transparent 5%, transparent 50%, rgba(215, 228, 244, 0.4) 50%, transparent 55%, transparent 100%);
}

article {
  width: 80%;
  margin: 0 auto;
}

#btnToggleGrid {
  display: block;
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 5px 20px;
  background: #eaeaea;
  border: 1px solid #ccc;
  font-size: 14px;
  text-decoration: none;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

@media screen and (min-width: 40rem) {
  * {
    max-width: 630px;
    max-width: 35rem;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 1.6875;
  }

  html {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .grid, .grid-double {
    background-size: 100% 30.375px;
    background-size: 100% 1.6875rem;
  }

  body, html {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  article {
    width: 80%;
    max-width: none;
  }

  h1 {
    font-size: 45px;
    font-size: 2.5rem;
    line-height: 60.75px;
    line-height: 3.375rem;
    margin-top: 121.5px;
    margin-top: 6.75rem;
    margin-bottom: 30.375px;
    margin-bottom: 1.6875rem;
  }

  h2 {
    font-size: 30.375px;
    font-size: 1.6875rem;
    line-height: 45.5625px;
    line-height: 2.53125rem;
    margin-top: 75.9375px;
    margin-top: 4.21875rem;
    margin-bottom: 15.1875px;
    margin-bottom: 0.84375rem;
  }

  h3 {
    font-size: 24.75px;
    font-size: 1.375rem;
    line-height: 30.375px;
    line-height: 1.6875rem;
    margin-top: 60.75px;
    margin-top: 3.375rem;
    margin-bottom: 15.1875px;
    margin-bottom: 0.84375rem;
  }

  h4 {
    font-size: 21.6px;
    font-size: 1.2rem;
    line-height: 30.375px;
    line-height: 1.6875rem;
    margin-top: 75.9375px;
    margin-top: 4.21875rem;
    margin-bottom: 15.1875px;
    margin-bottom: 0.84375rem;
  }

  h5 {
    font-size: 18px;
    font-size: 1rem;
    line-height: 30.375px;
    line-height: 1.6875rem;
    margin-top: 75.9375px;
    margin-top: 4.21875rem;
    margin-bottom: 15.1875px;
    margin-bottom: 0.84375rem;
  }

  h6 {
    font-size: 18px;
    font-size: 1rem;
    line-height: 30.375px;
    line-height: 1.6875rem;
    margin-top: 75.9375px;
    margin-top: 4.21875rem;
    margin-bottom: 15.1875px;
    margin-bottom: 0.84375rem;
  }

  figure.floatLeft,
  figure.floatRight {
    max-width: 30%;
    padding: 0 26px;
    padding: 0 1.625rem;
  }

  .floatLeft {
    float: left;
  }

  .floatCenter {
    margin-left: auto;
    margin-right: auto;
  }

  .floatRight {
    float: right;
  }

  blockquote {
    padding-left: 2rem;
  }
}

/*# sourceMappingURL=gutenberg.css.map */
