/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  /*padding: 0.5em;*/
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@charset "UTF-8";
/*
Gutenberg: Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.1
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/
/*! Gutenberg reset — adapted from Normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block;
}

body,
article,
section,
footer,
header,
div,
input,
nav,
article ol,
article ul,
blockquote,
figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
abbr {
  letter-spacing: 0.1em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* Embedded content
   ========================================================================== */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Images
   ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

/* Clearfix
   ========================================================================== */
.clearfix {
  overflow: auto;
}

/* Configuration
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Defaults
   ========================================================================== */
html {
  font-size: 16px;
  font-size: 1rem;
  font-family: "ff-meta-serif-web-pro", Georgia, Times, serif;
  color: #222222;
}

* {
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0px 0px 26px;
  margin: 0rem 0rem 1.625rem;
}

/* Headings
   ========================================================================== */
h1 {
  font-size: 38.4px;
  font-size: 2.4rem;
  line-height: 78px;
  line-height: 4.875rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 39px;
  margin-top: 2.4375rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem;
}

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem;
}

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "raleway", "HelveticaNeue-CondensedBold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
}

/* Links
   ========================================================================== */
a {
  color: #222222;
}
a:visited {
  color: #888;
}
a:active {
  color: red;
}

/* Figures & other elements
   ========================================================================== */
figcaption {
  color: #888;
  font-style: italic;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 26px;
  line-height: 1.625rem;
  margin-bottom: 0;
}

blockquote {
  padding-left: 1.4375rem;
  font-style: italic;
}

cite {
  font-style: normal;
}

ul li, ol li {
  margin-bottom: 0;
}

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-right: auto;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  margin-left: auto;
  height: 26px;
  height: 1.625rem;
  color: #ccc;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #ccc 11px, #ccc 15px, transparent 15px, transparent 26px);
  width: 100px;
  display: block;
  border: 0;
}

small {
  line-height: 13px;
  line-height: 0.8125rem;
}

code {
  padding: 26px;
  padding: 1.625rem;
}

/* Grid
   ========================================================================== */
.grid, .grid-double, .grid-light {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
}

.grid-double {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 13px, rgba(0, 170, 255, 0.2) 13px, transparent 14px, transparent 26px);
}

body {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

article {
  width: 80%;
  margin: 0 auto;
}

.toggleWrapper {
  display: block;
  position: fixed;
  top: 26px;
  right: 26px;
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px;
}

.btnToggleGrid {
  background: url("../assets/images/grid-icons.png") top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: "raleway", "HelveticaNeue-CondensedBold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.double-grid {
  background-position-y: -32px;
}

.grid-off {
  background-position-y: -64px;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.uppercase {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.grid-overlay, .hero {
  max-width: none;
  width: 100%;
  padding-bottom: 78px;
  padding-bottom: 4.875rem;
  margin: 0;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.hero {
  background: #FF1935;
  padding-bottom: 0;
  color: white;
  overflow: visible;
}
.hero a {
  color: white;
}
.hero a:visited {
  color: white;
}
.hero p {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  margin-bottom: 4.875rem;
}
.hero img.screen {
  margin-bottom: -156px;
  margin-bottom: -9.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.hero img.gutenberg {
  margin-top: 104px;
  margin-top: 6.5rem;
}

hgroup h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  text-shadow: 0.5px 0.5px #333E51, 1px 1px #333E51, 1.5px 1.5px #333E51, 2px 2px #333E51, 2.5px 2.5px #333E51, 3px 3px #333E51, 3.5px 3.5px #333E51, 4px 4px #333E51;
  letter-spacing: 0.2rem;
}
hgroup h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #333E51;
  margin-top: 0;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 26px;
  line-height: 1.625rem;
}

.buttons {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.buttons a {
  font-size: 12px;
  font-family: sans-serif;
  width: 150px;
  display: inline-block;
  height: 26px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 5px !important;
  margin-right: 5px !important;
  color: white;
  vertical-align: middle;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  border-radius: 25px;
}
.buttons a.github {
  background: #231F20;
}
.buttons a.github:hover {
  background: #3e3739;
}
.buttons a.github:active {
  background: #080707;
}
.buttons a.github:visited {
  color: white;
}
.buttons a.tweet {
  background: #4099ff;
}
.buttons a.tweet:hover {
  background: #5aa7ff;
}
.buttons a.tweet:active {
  background: #278bff;
}
.buttons a.tweet:visited {
  color: white;
}
.buttons a div {
  height: 20px;
  padding: 1px;
  padding-top: 2px;
  padding-left: 22px;
  display: inline;
  background: url("../assets/images/button-icons.png") no-repeat;
  background-size: 18px;
}
.buttons a div.twitter {
  background-position-y: -18px;
}

.example {
  padding: 26px;
  padding: 1.625rem;
}
.example h1,
.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  font-family: "ff-meta-serif-web-pro", Georgia, Serif;
}
.example p {
  margin-bottom: 0;
}
.example h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 26px;
  margin-top: 1.625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}
.example h2, .example h6 {
  margin-top: 13px;
  margin-top: 0.8125rem;
}

code {
  font-family: 'Roboto Mono', monospace;
}

.heading2 h2 {
  background: rgba(215, 228, 244, 0.3);
  margin-top: 39px;
  margin-top: 2.4375rem;
}

.grid-light {
  background-image: linear-gradient(to bottom, #f46677 1px, transparent 1px);
}

.img-spacing {
  margin-top: 234px;
  margin-top: 14.625rem;
}

footer {
  width: 100%;
  max-width: none;
  margin-bottom: 0;
  padding: 104px 0px 26px;
  padding: 6.5rem 0rem 1.625rem;
}
footer h2 {
  color: #FF1935;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0px;
  margin-top: 0rem;
  font-size: 23px;
  font-size: 1.4375rem;
}

#ads {
  display: none;
  height: 0;
  margin: 0;
  line-height: 0;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ed6a43;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #0086b3;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #0086b3;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #183691;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #a71d5d;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f7f7f7;
  color: #4d4d4c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

hr + h1,
hr + h2,
hr + h3 {
  margin-top: 0;
}

@media screen and (min-width: 40rem) {
  /* Mixins
     ========================================================================== */
  * {
    max-width: 700px;
    max-width: 35rem;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 32px;
    line-height: 1.6rem;
    margin-bottom: 32px;
    margin-bottom: 1.6rem;
  }

  html {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .grid, .grid-double, .grid-light, .grid-light {
    background-size: 100% 32px;
    background-size: 100% 1.6rem;
  }

  .grid-double {
    background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px, transparent 16px, rgba(0, 170, 255, 0.2) 16px, transparent 17px, transparent 32px);
  }

  body, html {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  article {
    max-width: 1050px;
    max-width: 52.5rem;
  }

  .toggleWrapper {
    top: 32px;
    right: 32px;
  }

  h1 {
    font-size: 48px;
    font-size: 2.4rem;
    line-height: 96px;
    line-height: 4.800000000000001rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }

  h2 {
    font-size: 40px;
    font-size: 2rem;
    line-height: 48px;
    line-height: 2.400000000000001rem;
    margin-top: 80px;
    margin-top: 4rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }

  h3 {
    font-size: 28.75px;
    font-size: 1.4375rem;
    line-height: 32px;
    line-height: 1.6rem;
    margin-top: 64px;
    margin-top: 3.2rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }

  h4 {
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 32px;
    line-height: 1.6rem;
    margin-top: 48px;
    margin-top: 2.400000000000001rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }

  h5 {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 1.6rem;
    margin-top: 80px;
    margin-top: 4rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }

  h6 {
    font-size: 20px;
    font-size: 1rem;
    line-height: 32px;
    line-height: 1.6rem;
    margin-top: 80px;
    margin-top: 4rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }

  h1 {
    font-size: 80px;
    font-size: 4rem;
    line-height: 128px;
    line-height: 6.4rem;
    margin-top: 0px;
    margin-top: 0rem;
  }

  h1 + h2 {
    margin-top: 32px;
    margin-top: 1.6rem;
  }

  h2 + h3, h3 + h4, h4 + h5 {
    margin-top: 16px;
    margin-top: 0.8rem;
  }

  h5 + h6 {
    margin-top: -16px;
    margin-top: -0.8rem;
  }

  figure.floatLeft,
  figure.floatRight {
    max-width: 350px;
    max-width: 17.5rem;
    padding: 0px 32px;
    padding: 0rem 1.6rem;
  }

  figcaption {
    line-height: 32px;
    line-height: 1.6rem;
    margin-bottom: 0;
  }

  .floatLeft {
    float: left;
  }

  .floatCenter {
    margin-left: auto;
    margin-right: auto;
  }

  .floatRight {
    float: right;
  }

  blockquote {
    padding-left: 2rem;
  }

  small {
    line-height: 16px;
    line-height: 0.8rem;
  }

  hr {
    margin-top: 64px;
    margin-top: 3.2rem;
    margin-bottom: 64px;
    margin-bottom: 3.2rem;
    height: 32px;
    height: 1.6rem;
    background-size: 100% 32px;
    background-size: 100% 1.6rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 14px, #ccc 14px, #ccc 18px, transparent 18px, transparent 32px);
  }

  code {
    padding: 32px;
    padding: 1.6rem;
    font-size: 18px;
  }

  .example {
    padding: 32px;
    padding: 1.6rem;
  }
  .example p {
    margin-bottom: 0;
  }
  .example h1 {
    font-size: 70px;
    font-size: 3.5rem;
    line-height: 96px;
    line-height: 4.800000000000001rem;
    margin-top: 32px;
    margin-top: 1.6rem;
    margin-bottom: 16px;
    margin-bottom: 0.8rem;
  }
  .example h6 {
    margin-top: 16px;
    margin-top: 0.8rem;
  }

  .heading2 h2 {
    margin-top: 48px;
    margin-top: 2.400000000000001rem;
  }

  footer {
    padding: 128px 0px 32px;
    padding: 6.4rem 0rem 1.6rem;
  }
  footer h2 {
    font-size: 23px;
    font-size: 1.4375rem;
  }

  hgroup {
    max-width: none;
  }
  hgroup h1 {
    text-shadow: 0.5px 0.5px #333E51, 1px 1px #333E51, 1.5px 1.5px #333E51, 2px 2px #333E51, 2.5px 2.5px #333E51, 3px 3px #333E51, 3.5px 3.5px #333E51, 4px 4px #333E51, 4.5px 4.5px #333E51, 5px 5px #333E51, 5.5px 5.5px #333E51, 6px 6px #333E51, 6.5px 6.5px #333E51, 7px 7px #333E51;
    letter-spacing: 0.2rem;
  }
  hgroup h2 {
    margin-top: 0;
    font-size: 22px;
    line-height: 32px;
    line-height: 1.6rem;
    max-width: none;
  }

  .buttons {
    max-width: 700px;
    max-width: 35rem;
  }
  .buttons a {
    height: 32px;
    margin-bottom: 0;
  }
  .buttons a div {
    height: 20px;
    padding: 1px;
    padding-top: 2px;
    padding-left: 22px;
    display: inline;
    background: url("../assets/images/button-icons.png") no-repeat;
    background-size: 18px;
  }
  .buttons a div.twitter {
    background-position-y: -18px;
  }

  .grid-overlay, .hero {
    padding-bottom: 96px;
    padding-bottom: 4.800000000000001rem;
  }

  .hero {
    padding-bottom: 0;
  }
  .hero p {
    max-width: 680px;
    max-width: 34rem;
    margin-bottom: 64px;
    margin-bottom: 3.2rem;
  }
  .hero img.screen {
    margin-bottom: -256px;
    margin-bottom: -12.8rem;
    max-width: 638px;
  }
  .hero img.gutenberg {
    margin-top: 96px;
    margin-top: 4.800000000000001rem;
  }

  .img-spacing {
    margin-top: 288px;
    margin-top: 14.4rem;
  }
}

/*# sourceMappingURL=gutenberg.css.map */
