// MOBILE
// ...

// DESKTOP
// Fonts
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700|Merriweather+Sans:400,800);

$fontBody: 						"Merriweather", Georgia, serif;
$fontHeadings:					"Merriweather Sans", Helvetica, Sans-serif; // use $fontBody if headings font should be the same as body

// Base Font Size
$ms-base: 						1.25rem;

// Modular Scale
$ms-ratio: 						$minor-third;

// Line-Height
$lhDesktop:						ms(2);

// Colors
$colorFontBody:					#3c3c3c;
$colorFontHeadings: 			$colorFontBody;
$colorFontLight:				#888;

$colorLinkNormal: 				$colorFontBody;
$colorLinkActive: 				red;
$colorLinkVisited: 				$colorFontLight;