body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

article {
	width: 90%;
	margin: 0 auto;
}

#btnToggleGrid {
	position: fixed;
	top: 5%;
	right: 5%;
	padding: 5px 20px;
	background: #eaeaea;
	border: 1px solid #ccc;
	font-size: 14px;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@media screen and (min-width: 600px){
	// img,
	// figcaption,
	// figure {
	// 	max-width: 700px;
	// }
}