// Float defaults
.floatLeft {

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    float: left;
  }

}

.floatCenter {

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    margin-left: auto;
    margin-right: auto;
  }

}

.floatRight {

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    float: right;
  }

}
