// Float defaults
.align-left {

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    float: left;
  }

}

.align-center {

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    margin-left: auto;
    margin-right: auto;
  }

}

.align-right {

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    float: right;
  }

}
