/* Grid
   ========================================================================== */

// Grid background
.grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% #{$leading + "px"};
  background-size: 100% #{$leading-rem + "rem"};

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    background-size: 100% #{$leading + "px"};
    background-size: 100% #{$leading-rem + "rem"};
  }

}

// Double grid background
.grid-double {
  @extend .grid;
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px, transparent #{ 0.5 * $leading + "px"}, hsla(200, 100%, 50%, 0.2) #{ 0.5 * $leading + "px"}, transparent #{ 0.5 * $leading + 1 + "px"}, transparent #{$leading + "px"});

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px, transparent #{ 0.5 * $leading + "px"}, hsla(200, 100%, 50%, 0.2) #{ 0.5 * $leading + "px"}, transparent #{ 0.5 * $leading + 1 + "px"}, transparent #{$leading + "px"});
  }

}

// Grid button
.toggle-wrapper {
  @if $edit-mode == true {
    display: block;
  }
  @else if $edit-mode == false {
    display: none;
  }
  position: fixed;
  top: #{$leading + "px"};
  right: #{$leading + "px"};
  height: 32px;
  padding: 0 10px 0 20px;
  background-color: #231f20;
  border-radius: 25px;

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    top: #{$leading-desktop + "px"};
    right: #{$leading-desktop + "px"};
  }

}

.btn-toggle-grid {
  display: block;
  height: 32px;
  padding-right: 35px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: url("../../assets/images/grid-icons.png") top right no-repeat;
  background-size: 32px;

  @media screen and (min-width: #{ $max-width + 5 + "em"}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    top: #{$leading + "px"};
    right: #{$leading + "px"};
  }

  &:hover {
    color: #fff;
  }

  &:active {
    color: #f00;
  }
}

.double-grid {
  background-position-y: -32px;
}

.grid-off {
  background-position-y: -64px;
}
