@media screen and (min-width: 40rem){
	* {
		max-width: #{$max-width * $base-desktop + 'px'};
		max-width: #{$max-width + 'rem'};
		margin-left: auto!important;
		margin-right: auto!important;
		line-height: #{$leading-desktop + 'px'};
		line-height: #{$leading-rem-desktop + 'rem'};
		margin-bottom: #{$leading-rem-desktop + 'rem'};
	}

	html {
		// font-size: #{$base-font-size-desktop + '%'};
		font-size: #{$base-desktop + 'px'};
		font-size: #{$base-font-size-desktop / 100 + 'rem'};
	}

	.grid {
		background-size: 100% #{$leading-desktop + 'px'};
    	background-size: 100% #{$leading-rem-desktop + 'rem'};
	}

	body, html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	article {
		max-width: #{1.5 * $max-width * $base-desktop + 'px'};
		max-width: #{1.5 * $max-width + 'rem'};
		// max-width: none;
	}

	.btnToggleGrid {
		top: #{$leading-desktop + 'px'};
		right: #{$leading-desktop + 'px'};
	}

	// Heading sizes, line-heights and margins
	@each $heading, $properties in $headings {
	    #{$heading} {
	    	font-size: #{nth($properties, 1) * $base-desktop + 'px'};
	    	font-size: #{nth($properties, 1) + 'rem'};
	    	line-height: #{nth($properties, 2)*$leading-desktop + 'px'};
	    	line-height: #{nth($properties, 2)*$leading-rem-desktop + 'rem'};
	        margin-top: #{nth($properties, 3) * $leading-desktop + 'px'};
	        margin-top: #{nth($properties, 3) * $leading-rem-desktop + 'rem'};
	        margin-bottom: #{nth($properties, 4) * $leading-desktop + 'px'};
	        margin-bottom: #{nth($properties, 4) * $leading-rem-desktop + 'rem'};
	    }
	}

	// Floated images width & padding
	figure.floatLeft,
	figure.floatRight {
		max-width: #{0.5 * $max-width * $base-desktop + 'px'};
		max-width: #{0.5 * $max-width + 'rem'};
		padding: 0 #{$leading-desktop + 'px'};
		padding: 0 #{$leading-rem-desktop + 'rem'};
	}

	figcaption {
		line-height: #{$leading-desktop + 'px'};
		line-height: #{$leading-rem-desktop + 'rem'};
		margin-bottom: 0;
	}

	.floatLeft {
		float: left;
	}

	.floatCenter {
		margin-left: auto;
		margin-right: auto;
	}

	.floatRight {
		float: right;
	}

	blockquote {
		padding-left: 2rem;
	}

	small {
		line-height: #{0.5 * $leading-desktop + 'px'};
		line-height: #{0.5 * $leading-rem-desktop + 'rem'};
	}
}