/* Configuration
   ========================================================================== */

$edit-mode: true; // [ true / false ] - Enables/disables the grid toggle button.

// Theme / Fonts
$theme: Merriweather !default; // [ Merriweather / OpenSans / custom ]
$custom-font-body: null;
$custom-font-headings: null;

// Load custom fonts (uncomment / set up when using custom theme)
// @import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

// Base sizes
$base-font-size: 100 !default; // In %. Also used for mobile. Number only, no units.
$base-font-size-desktop: 112.5 !default; // In %. Used to calculate the desktop font size. Number only, no units.
$line-height: 1.625;
$line-height-desktop: 1.6875;
$max-width: 35; // Number only, no units. Gets converted to REMs and pixels.

// Modular Scale
$modular-scale: (
  xxxl: 4.3,
  xxl: 3.5,
  xl: 3,
  l: 2.5,
  m: 2,
  s: 1.6875,
  xs: 1.4375,
  xxs: 1.2,
  xxxs: 1,
  xxxxs: 0.8125
) !default;

// Headings Options
// [ h1: size (in rem), line height (* leading), margin top (* leading), margin bottom (* leading) ]
$headings: (
  h1: (2.5, 2, 4, 1),
  h2: (1.6875, 1.5, 2.5, 0.5),
  h3: (1.375, 1, 2, 0.5),
  h4: (1.2, 1, 2.5, 0.5),
  h5: (1, 1, 2.5, 0.5),
  h6: (1, 1, 2.5, 0.5)
) !default;

// Colors
$color-font-body: #222222;
$color-font-headings: $color-font-body;
$color-font-light: #888;

$color-link-normal: $color-font-body;
$color-link-active: red;
$color-link-visited: $color-font-light;


/* TODO:
 - solve the decimals problem
 - responsive grid (Chrome only)
 - imgFixHeight break free from jQuery
 */