@media screen and (min-width: 40rem){

	$leading: $leading-desktop;
	$leading-rem: $leading-rem-desktop;
	$hr-margin: $hr-margin-desktop;
	@import "gutenberg-mixins";

	* {
		max-width: #{$max-width * $base-desktop + 'px'};
		max-width: #{$max-width + 'rem'};
		margin-left: auto!important;
		margin-right: auto!important;
		@include line-height(1);
		@include margin-bottom(1);
	}

	html {
		font-size: #{$base-desktop + 'px'};
		font-size: #{$base-font-size-desktop / 100 + 'rem'};
	}

	.grid, .grid-light {
		background-size: 100% #{$leading + 'px'};
		background-size: 100% #{$leading-rem + 'rem'};
	}

	.grid-double {
		background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px, transparent #{ 0.5 * $leading + 'px'},  hsla(200, 100%, 50%, .2) #{ 0.5 * $leading + 'px'}, transparent #{ 0.5 * $leading + 1 + 'px'}, transparent #{$leading + 'px'});
	}

	body, html {
		margin: 0;
		width: 100%;
		max-width: none;
	}

	article {
		max-width: #{1.5 * $max-width * $base-desktop + 'px'};
		max-width: #{1.5 * $max-width + 'rem'};
	}

	.toggleWrapper {
		top: #{$leading + 'px'};
		right: #{$leading + 'px'};
	}

	// Heading sizes, line-heights and margins
	@each $heading, $properties in $headings {
		#{$heading} {
			font-size: #{nth($properties, 1) * $base-desktop + 'px'};
			font-size: #{nth($properties, 1) + 'rem'};
			@include line-height(nth($properties, 2));
			@include margin-top(nth($properties, 3));
			@include margin-bottom(nth($properties, 4));
		}
	}

	h1 {
		font-size: #{ 4 * $base-desktop + 'px'};
		font-size: #{ 4 + 'rem'};
		@include line-height(4);
		@include margin-top(0);
	}

	// Set margins between headings
	h1 + h2 {
		@include margin-top(1);
	}

	h2 + h3, h3 + h4, h4 + h5 {
		@include margin-top(0.5);
	}

	h5 + h6 {
		@include margin-top(-0.5);
	}

	// Floated images width & padding
	figure.floatLeft,
	figure.floatRight {
		max-width: #{0.5 * $max-width * $base-desktop + 'px'};
		max-width: #{0.5 * $max-width + 'rem'};
		@include padding(0, 1);
	}

	figcaption {
		@include line-height(1);
		margin-bottom: 0;
	}

	.floatLeft {
		float: left;
	}

	.floatCenter {
		margin-left: auto;
		margin-right: auto;
	}

	.floatRight {
		float: right;
	}

	blockquote {
		padding-left: 2rem;
	}

	small {
		@include line-height(0.5);
	}

	// Horizontal rule
	hr {
		@include margin-top($hr-margin);
		@include margin-bottom($hr-margin);
		height: #{$leading + 'px'};
		height: #{$leading-rem + 'rem'};

		@if $hr-style == 'line' {
			background-size: 100% #{$leading + 'px'};
			background-size: 100% #{$leading-rem + 'rem'};
			background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});
		}
	}

	code {
		@include padding-equal(1);
		font-size: 18px;
	}

	.example {
		@include padding-equal(1);

		p {
			margin-bottom: 0;
		}

		h1 {
			font-size: #{ 3.5 * $base-desktop + 'px'};
			font-size: #{ 3.5 + 'rem'};
			@include line-height(3);
			@include margin-top(1);
			@include margin-bottom(0.5);
		}

		h6 {
			@include margin-top(0.5);
		}
	}

	.heading2 h2 {
		@include margin-top(1.5);
	}

	footer {
		@include padding(4, 0, 1);

		h2 {
			@include font-size(1.4375);
		}
	}

	hgroup {
		max-width: none;

		h1 {
			text-shadow:
			0.5px 0.5px #333E51,
			1px 1px #333E51,
			1.5px 1.5px #333E51,
			2px 2px #333E51,
			2.5px 2.5px #333E51,
			3px 3px #333E51,
			3.5px 3.5px #333E51,
			4px 4px #333E51,
			4.5px 4.5px #333E51,
			5px 5px #333E51,
			5.5px 5.5px #333E51,
			6px 6px #333E51,
			6.5px 6.5px #333E51,
			7px 7px #333E51;
			letter-spacing: 0.2rem;
		}

		h2 {
			margin-top: 0;
			font-size: 22px;
			@include line-height(1);
			max-width: none;
		}
	}

	.buttons {

		max-width: #{$max-width * $base-desktop + 'px'};
		max-width: #{$max-width + 'rem'};

		a {
			height: 32px;
			margin-bottom: 0;

			div {
				height: 20px;
				padding: 1px;
				padding-top: 2px;
				padding-left: 22px;
				display: inline;
				background: url('../assets/images/button-icons.png') no-repeat;
				background-size: 18px;

				&.twitter {
					background-position-y: -18px;
				}
			}
		}
	}

	.grid-overlay {
		padding-bottom: #{ 3 * $leading + 'px' };
		padding-bottom: #{ 3 * $leading-rem + 'rem' };
	}

	.hero {
		padding-bottom: 0;

		p {
			max-width: #{ 34 * $base-desktop + 'px'};
			max-width: #{ 34 + 'rem'};
			@include margin-bottom(2);
		}

		img.screen {
			@include margin-bottom(-8);
			max-width: 638px;
		}

		img.gutenberg {
			@include margin-top(3);
		}
	}

	.img-spacing {
		@include margin-top(9);
	}

	.sticker {
		max-width: 428px;
	}
	.exampleBtn {
		height: 32px;
	}
}