@each $heading, $properties in $headings {
    #{$heading} {
        margin-top: #{nth($properties, 3)*$leading + 'px'};
        margin-top: #{nth($properties, 3)*$leading-rem + 'rem'};
        margin-bottom: #{nth($properties, 4)*$leading + 'px'};
        margin-bottom: #{nth($properties, 4)*$leading-rem + 'rem'};
    }
}

h1 {
	font-size: 2.5rem;
	line-height: #{2*$leading-rem + 'rem'};
}


// html {
// 	color: $colorFontBody;
// 	font-family: $fontBody;
// 	font-size: ms(0); 						/* 16px */
//     -moz-font-feature-settings:"salt" 1;
// 	-moz-font-feature-settings:"salt=1";
// 	-ms-font-feature-settings:"salt" 1;
// 	-o-font-feature-settings:"salt" 1;
// 	-webkit-font-feature-settings:"salt" 1;
// 	font-feature-settings:"salt" 1;
// }

// * {
// 	// line-height: $lhMobile; 					/* 23px */
// }

// // .verticalGrid {
// // 	background: url(../assets/images/vertical-grid-16px.gif);
// // }

// a {
// 	color: $colorLinkNormal;
// 	text-decoration: underline;
// }

// a:active {
// 	color: $colorLinkActive;
// }

// a:visited {
// 	color: $colorLinkVisited;
// }

// a:visited:active {
// 	color: $colorLinkActive;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// ol,
// ul,
// table,
// blockquote,
// figure,
// pre,
// img {
// 	margin-top: 0;
//     // margin-bottom: $lhMobile;
// }

// h1, h2, h3, h4, h5, h6 {
// 	font-family: $fontHeadings;
// 	font-weight: 800;
// }

// h1 {
//   font-size: ms(10);
//   line-height: 2*$lhMobile;
//   margin-top: 3*$lhMobile;
//   margin-bottom: $lhMobile;
//   letter-spacing: -0.0625rem;
// }

// h2 {
//   font-size: ms(6);
//   margin-top: 1.5*$lhMobile;
//   margin-bottom: 0.5*$lhMobile;
// }

// h3 {
//   font-size: ms(4);
//   margin-top: 1.5*$lhMobile;
//   margin-bottom: 0.5*$lhMobile;
// }

// h4 {
//   margin-top: 1.5*$lhMobile;
//   margin-bottom: 0.5*$lhMobile;
// }

// h2 + h3 {
// 	margin-top: 23px;
// 	margin-top: 1.4375rem;
// 	margin-bottom: 23px;
// 	margin-bottom: 1.4375rem;
// }

// h3 + h4 {
// 	margin-bottom: 11.5px;
// 	margin-bottom: 0.71875rem;
// 	margin-top: 23px;
// 	margin-top: 1.4375rem;
// }

// ul, ol {
// 	padding-left: ms(10);
// }

// ul li, ol li {
// 		margin-bottom: 11.5px;
// 		margin-bottom: 0.71875rem;
// 	}

// blockquote {
// 	margin-left: auto;
// 	margin-right: auto;
// 	margin-top: -0.5*$lhMobile;
//   	margin-bottom: $lhMobile;

//   	p {
// 		margin-bottom: 0.5*$lhMobile;
// 		padding-left: $lhMobile;
// 		font-size: ms(0) - 0.1*ms(0);
//   	}

//   	p + footer cite {
//   		padding-left: $lhMobile;
//   		vertical-align: middle;
//   		font-size: ms(0) - 0.1*ms(0);
//   	}
// }

// figure + h3, figure + h4 {
// 	margin-top: 57.5px;
// 	margin-top: 3.59375rem;
// }

// img {
// 	vertical-align: middle;
// 	// max-height: 322px;
// }

// small {
// 	font-size: 13px;
// 	font-size: 0.8125rem;
// 	line-height: 23px;
// 	line-height: 1.4375rem;
// }

// @media screen and (min-width: 1025px){
// 	html {
// 		font-size: $ms-base(1.25rem);
// 	}

// 	* {
// 		line-height: $lhDesktop;
// 	}

// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5,
// 	h6,
// 	p,
// 	ol,
// 	ul,
// 	table,
// 	blockquote,
// 	pre,
// 	img {
// 		max-width: 36rem;
// 		margin-top: 0;
// 		margin-bottom: $lhDesktop;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}

// 	h1 {
// 	  	font-size: ms(4);
// 	  	line-height: 2*$lhDesktop;
// 	  	margin-top: 3*$lhDesktop;
// 	  	margin-bottom: $lhDesktop;
// 	}

// 	h2, h3, h4, h5, h6 {
// 		line-height: $lhDesktop;
// 		margin-top: 1.75*$lhDesktop;
// 		margin-bottom: 0.25*$lhDesktop;
// 	}

// 	h2 {
// 	  	font-size: ms(2);
// 	}

// 	h3 {
// 	  	font-size: ms(1);
// 	}

// 	h4 {
// 		font-size: $ms-base;
// 	}

// 	h5 {
// 		font-size: $ms-base;
// 		font-weight: normal;
// 		font-style: italic;
// 	}

// 	h6 {
// 		font-size: $ms-base;
// 		font-weight: normal;
// 	}

// 	h2 + h3 {
// 		margin-top: $lhDesktop;
// 		margin-bottom: 0.5*$lhDesktop;
// 	}

// 	h3 + h4 {
// 		margin-top: $lhDesktop;
// 		margin-bottom: 0.5*$lhDesktop;
// 	}

// 	ul, ol {
// 		padding-left: ms(5);
// 	}

// 	ul li, ol li {
// 		margin-bottom: 0.5*$lhDesktop;
// 	}

// 	blockquote {
// 		margin-top: -0.5*$lhDesktop;
// 	  	margin-bottom: $lhDesktop;

// 	  	p {
// 			margin-bottom: 0.5*$lhDesktop;
// 			padding-left: $lhDesktop;
// 			// font-size: ms(0) - 0.25*ms(0);
// 	  	}

// 	  	p + footer cite {
// 	  		padding-left: $lhDesktop;
// 	  		// font-size: ms(0) - 0.25*ms(0);
// 	  	}
// 	}

// 	blockquote + h3, blockquote + h4, figure + h3, figure + h4 {
// 		margin-top: 2*$lhDesktop;
// 	}

// 	small {
// 		font-size: ms(-3);
// 		line-height: $lhDesktop;
// 	}

// 	figure {
// 	padding: 0;
// 	margin: 2*$lhDesktop auto;
// 	max-width: 36rem;
// 	text-align: center;

// 		img {
// 			max-width: 100%;
// 		}

// 		figcaption {
// 			font-size: ms(-2);
// 			color: $colorFontLight;
// 		}
// 	}

// 	figure.floatLeft {
// 		// margin-right: 1em;
// 		padding: $lhDesktop;
// 		max-width: 15rem;
// 		margin: 0;

// 		figcaption {
// 			max-width: 100%;
// 			font-size: ms(-2);
// 		}
// 	}

// 	figure.floatRight {
// 		// margin-left: 1em;
// 		padding: $lhDesktop;
// 		max-width: 15rem;
// 		margin: 0;

// 		figcaption {
// 			max-width: 100%;
// 			font-size: ms(-2);
// 		}
// 	}
// }