article {
	width: 80%;
	margin: 0 auto;
}

#btnToggleGrid {
	@if $edit-mode == true {
		display: block;
	} @else if $edit-mode == false {
		display: none;
	}
	position: fixed;
	top: 5%;
	right: 5%;
	padding: 5px 20px;
	background: #eaeaea;
	border: 1px solid #ccc;
	font-size: 14px;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	margin: inherit auto;
}

cite {
	display: block;
}

@media screen and (min-width: 600px){
	// img,
	// figcaption,
	// figure {
	// 	max-width: 700px;
	// }
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.floatLeft {
	float: left;
}

.floatCenter {
	margin-left: auto;
	margin-right: auto;
}

.floatRight {
	float: right;
}

.lazy {
	opacity: 0;
}

// Border Box
body, article, section, footer, header, div, input, nav, article ol, article ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}