/* Calculations
   ========================================================================== */

$base: 16 * ($base-font-size / 100);
$leading: round($base * $line-height);
$leading-rem: $leading / $base;

$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-desktop: round($base-desktop * $line-height-desktop);
$leading-rem-desktop: $leading-desktop / $base-desktop;

@import "gutenberg-mixins";


/* Font themes
   ========================================================================== */

$font-body: null;
$font-headings: null;

@if $theme == Merriweather {

	// Import Merriweather
	@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

	// Set body font
	$font-body: "Merriweather", Georgia, serif;

} @else if $theme == OpenSans {

	// Import Open Sans
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

	// Set body font
	$font-body: "Open Sans", Arial, Helvetica, Sans-serif;

} @else if $theme == custom {

	// Set custom body font
	$font-body: $custom-font-body;

	// Set custom headings font
	@if $custom-font-headings != $custom-font-body {
		$font-headings: $custom-font-headings;
	}
}


/* Defaults
   ========================================================================== */

// Font defaults
html {
	font-size: #{$base + 'px'};
	font-size: #{$base-font-size + '%'};
	font-family: $font-body;
	color: $color-font-body;
}

// Line-height & margin reset
* {
	line-height: #{$leading + 'px'};
	line-height: #{$leading-rem + 'rem'};
	margin: 0 0 #{$leading + 'px'};
	margin: 0 0 #{$leading-rem + 'rem'};
}


/* Headings
   ========================================================================== */

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
    #{$heading} {
    	font-size: #{nth($properties, 1) * $base + 'px'};
    	font-size: #{nth($properties, 1) + 'rem'};
    	line-height: #{nth($properties, 2)*$leading + 'px'};
    	line-height: #{nth($properties, 2)*$leading-rem + 'rem'};
        margin-top: #{nth($properties, 3) * $leading + 'px'};
        margin-top: #{nth($properties, 3) * $leading-rem + 'rem'};
        margin-bottom: #{nth($properties, 4) * $leading + 'px'};
        margin-bottom: #{nth($properties, 4) * $leading-rem + 'rem'};
    }
}

// Set margins between headings
h1 + h2 {
	margin-top: #{$leading + 'px'};
    margin-top: #{$leading-rem + 'rem'};
}

h2 + h3, h3 + h4, h4 + h5 {
	margin-top: #{0.5 * $leading + 'px'};
    margin-top: #{0.5 * $leading-rem + 'rem'};
}

h5 + h6 {
	margin-top: -#{0.5 * $leading + 'px'};
    margin-top: -#{0.5 * $leading-rem + 'rem'};
}

h6 {
	font-weight: normal;
	font-style: italic;
}

// Change headings font if a font is set
@if $font-headings != null {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-headings;
	}
}

/* Links
   ========================================================================== */

a {
	color: $color-link-normal;

	&:visited {
		color: $color-link-visited;
	}

	&:active {
		color: $color-link-active;
	}
}

/* Figures & other elements
   ========================================================================== */

figcaption {
	color: $color-font-light;
	font-style: italic;
	font-size: 0.8125rem;
	text-align: center;
	line-height: #{$leading + 'px'};
	line-height: #{$leading-rem + 'rem'};
	margin-bottom: 0;
}

blockquote {
	padding-left: 1.4375rem;
	// font-size: 0.8125rem;
	font-style: italic;
	// font-size: 95%;
}

cite {
	font-style: normal;
}

// Lists
ul, ol {
	li {
		margin-bottom: 0;
	}
}

// Horizontal rule
hr {
    @include margin-top($hr-margin);
    margin-right: auto;
    @include margin-bottom($hr-margin);
    margin-left: auto;
    height: #{$leading + 'px'};
	height: #{$leading-rem + 'rem'};
	color: $hr-color;

	@if $hr-style == 'line' {
		background-size: 100% #{$leading + 'px'};
		background-size: 100% #{$leading-rem + 'rem'};
		background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * $leading - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * $leading  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{$leading + 'px'});
		@if $hr-width == null {
	    	width: 100%;
	    } @else {
	    	width: #{$hr-width + 'px'};
	    }
    }

    @if $hr-style == 'type' {
    	text-align: center;

    	&:before {
    		content: $hr-type-content;
    		letter-spacing: $hr-type-char-spacing;
    	}
    }
    display: block;
    border: 0;
}

small {
	line-height: #{0.5 * $leading + 'px'};
	line-height: #{0.5 * $leading-rem + 'rem'};
}

code {
	padding: #{$leading + 'px'};
	padding: #{$leading-rem + 'rem'};
}


/* Grid
   ========================================================================== */

// Grid setup
.grid {
	background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  	background-position: left top;
	background-repeat: repeat;
    background-size: 100% #{$leading + 'px'};
    background-size: 100% #{$leading-rem + 'rem'};
}

// Double grid setup
.grid-double {
	@extend .grid;
	background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px, transparent #{ 0.5 * $leading + 'px'},  hsla(200, 100%, 50%, .2) #{ 0.5 * $leading + 'px'}, transparent #{ 0.5 * $leading + 1 + 'px'}, transparent #{$leading + 'px'});
}