/* Calculations
   ========================================================================== */

$base: 16 * ($base-font-size / 100);
$leading: $base * $line-height;
$leading-rem: $leading / $base;

$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-desktop: $base-desktop * $line-height-desktop;
$leading-rem-desktop: $leading-desktop / $base-desktop;


/* Font themes
   ========================================================================== */

$font-body: null;
$font-headings: null;

@if $theme == Merriweather {
	@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
	$font-body: "Merriweather", Georgia, serif;
	// $font-headings: "Playfair Display", Georgia, Serif;
} @else if $theme == OpenSans {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
	$font-body: "Open Sans", Arial, Helvetica, Sans-serif;
} @else if $theme == custom {
	$font-body: $custom-font-body;
	@if $custom-font-headings != $custom-font-body {
		$font-headings: $custom-font-headings;
	}
}


/* Defaults
   ========================================================================== */

// Font defaults
html {
	font-size: #{$base + 'px'};
	font-size: #{$base-font-size + '%'};
	font-family: $font-body;
	color: $color-font-body;
}

// Line-height reset
* {
	line-height: $line-height;
	margin: 0 0 #{$leading + 'px'};
	margin: 0 0 #{$leading-rem + 'rem'};
}


/* Headings
   ========================================================================== */

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
    #{$heading} {
    	font-size: #{nth($properties, 1) * $base + 'px'};
    	font-size: #{nth($properties, 1) + 'rem'};
    	line-height: #{nth($properties, 2)*$leading + 'px'};
    	line-height: #{nth($properties, 2)*$leading-rem + 'rem'};
        margin-top: #{nth($properties, 3) * $leading + 'px'};
        margin-top: #{nth($properties, 3) * $leading-rem + 'rem'};
        margin-bottom: #{nth($properties, 4) * $leading + 'px'};
        margin-bottom: #{nth($properties, 4) * $leading-rem + 'rem'};
    }
}

// Set margins between headings
h1 + h2 {
	margin-top: #{$leading + 'px'};
    margin-top: #{$leading-rem + 'rem'};
}

h2 + h3, h3 + h4, h4 + h5 {
	margin-top: #{0.5 * $leading + 'px'};
    margin-top: #{0.5 * $leading-rem + 'rem'};
}

h5 + h6 {
	margin-top: -#{0.5 * $leading + 'px'};
    margin-top: -#{0.5 * $leading-rem + 'rem'};
}

h6 {
	font-weight: normal;
	font-style: italic;
}

// Change headings font if a font is set
@if $font-headings != null {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-headings;
	}
}

/* Links
   ========================================================================== */

a {
	color: $color-link-normal;

	&:visited {
		color: $color-link-visited;
	}

	&:active {
		color: $color-link-active;
	}
}

/* Figures & other elements
   ========================================================================== */

figcaption {
	color: $color-font-light;
	font-style: italic;
	font-size: 0.8125rem;
	text-align: center;
	line-height: #{$leading + 'px'};
	line-height: #{$leading-rem + 'rem'};
	margin-bottom: 0;
}

blockquote {
	padding-left: 1.4375rem;
	// font-size: 0.8125rem;
	font-style: italic;
	// font-size: 95%;
}

cite {
	font-style: normal;
}

// Lists
ul, ol {
	li {
		margin-bottom: 0;
	}
}

// Horizontal rule
hr {
	margin: #{2 * $leading + 'px'} auto;
    margin: #{2 * $leading-rem + 'rem'} auto;
    width: 50%;
    display: block;
    background-color: $color-font-light;
    height: 1px;
    border: 0;
    // border-top: 1px solid #ccc;
}


/* Grid
   ========================================================================== */

// Grid setup
.grid {
	background-image: linear-gradient(#d7e4f4 0%, transparent 5%, transparent 100%);
	background-repeat: repeat;
    background-position: top left;
    box-shadow: rgba(215, 228, 244, 0.3) 1px 0px 0px, rgba(215, 228, 244, 0.3) -1px 0px 0px;
    background-size: 100% #{$leading + 'px'};
    background-size: 100% #{$leading-rem + 'rem'};
}

// Double grid setup
.grid-double {
	@extend .grid;
	background-image: linear-gradient(rgba(215, 228, 244, 1) 0%, transparent 5%, transparent 50%, rgba(215, 228, 244, 0.4) 50%, transparent 55%, transparent 100%);
}